.a{
    width:50%;
    height:500px; 
    background-color: blue;
    margin: 0;
    padding: 0;
    border:1px solid blue;
    border-radius: 70px;
}
.b{
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    color:white;
    margin:40px 0 50px 0;
    padding:0 0 0 0;
}
.c{
    width: 150px;
  height: 150px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background:rgb(58, 58, 245);
  margin:0 0 0 200px;
}
.d{
    font-size: 75px;
    color:white;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin:20px 0 0 -4px;
    padding:0 0 0 0;
}
.e{
    font-size: 20px;
    color:white;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 0 0 0 ;
    margin: 5px 0 0 2px ;
}
.f{
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    color:white;
    margin:25px 0 20px 0;
    padding:0 0 0 0;
}
.g{
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color:white;
    margin:20px 0 60px 0;
    padding:0 0 0 0; 
}
.h{
    width:50%;
    height:500px; 
    margin: 0;
    padding: 0;
}
.i{
    align-items: center;
    text-align: left;
    justify-content: center;
    font-size: 40px;
    color:black;
    margin:40px 0 0 50px ; 
     padding:0 0 0 0; 
}
.j{
    display: flex;
    justify-content: space-between;
}
.k{
    font-size: 25px;
    color:red;
    margin:40px 0 0 60px;
}
.l{
    height: 25px;
    width:25px;
    margin:0 20px 0 0 ;
}
.m{
    font-size: 25px;
    margin:15px 0 0 0 ;
}
.n{
    font-size: 25px;
    color:orange;
    margin:20px 0 0 60px; 
}
.o{
    height: 25px;
    width:25px;
    margin:0 20px 0 0 ; 
}
.p{
    font-size: 25px;
    margin:0 0 0 0;
}
.q{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    height:55px;
    background-color:gray;
    display: flex;
    border:1px solid gray;
     border-radius: 40px;
     margin:0 0 0 65px;
}